{% extends 'layout.html' %}

{% block body %}
	
	<br>
	<div class="jumbotron text-center">
		<h1>Welcome to RUM To Go</h1>
		<p class="lead">Your one stop for campus locations!</p>
	</div>

	<hr>

	<div class="container">
		<h2>About RUM To Go</h2>
		<p>RUM To Go is a web application designed for users to find out where their classrooms, professors, and administration offices are located. It also provides contact and/or basic information for these through click-based intuitive floor plans and campus layouts.</p>
		<p> So what are you waiting for? Hurry up and get where you need to go!</p>
	</div>

	<hr>



{% endblock %}